# Strings

## Anytime you write words (text) in Python, you're using character strings (strings for short).

### Note that strings can be represented with single quotes ('Hello') or double quotes ("Hello"), but you can't mix both (e.g., "Hello').

In [2]:
# String

'Hello World'

'Hello World'

In [3]:
"Hello World" # The output would be in single quotes but not in double quotes

'Hello World'

In [4]:
print('Hello World') # The output has no quotes

Hello World

In [5]:
print("Hello World") # The output has no quotes

Hello World

# Convert Int to String

In [1]:
# Convert an integer to a string

str(1)

'1'

In [7]:
type('Hello World')

str

# New Line (\n)

In [8]:
Text = 'Welcome to Python Learning'

In [9]:
print(Text)

Welcome to Python Learning

In [14]:
Text = 'Welcome\n to \n Python \n Learning'

In [11]:
print(Text)

Welcome
 to
 Python
 Learning

# Replace

In [16]:
Text = 'Welcome to Python Learning'
print(Text)

Welcome to Python Learning

In [17]:
Text.replace(" ",'')

'WelcometoPythonLearning'

In [17]:
Text = 'Welcome to Python Learning'
Text.replace('Python','Tableau')

'Welcome to Tableau Learning'

# Uppercase

In [18]:
Text.upper()

'WELCOME TO PYTHON LEARNING'

# String Interpolation

### String Interpolation is a process of substituting values of variables with placeholders in a string

In [4]:
Text = 'WELCOME TO PYTHON LEARNING' #Original Text

course = 'Jupyter Notebooks'
action = 'practice'

Text = f'WELCOME TO {course} {action}'  # Course & action will be changed as per assigned variables
Text

'WELCOME TO Jupyter Notebooks practice'

In [6]:
course ='Tableau'                
action = 'e-learning course'     
Text =f'WELCOME TO {course} {action}'
Text

'WELCOME TO Tableau e-learning course'

# Multiline Strings
### Python strings are very flexible, but if we try to create a string that occupies multiple lines we will get  a SyntaxError. Python offers a solution: multi-line strings. By using three quote-marks (""" or ''') instead of one

In [25]:
# using single quotes \
notes = """Python strings are very flexible, \
but if we try to create a string that occupies multiple lines we will get  a SyntaxError. \
Python offers a solution: multi-line strings."""
print(notes)

Python strings are very flexible, but if we try to create a string that occupies multiple lines we will get  a SyntaxError. Python offers a solution: multi-line strings.

In [28]:
# using single quotes ''' , the output would be three lines but not continuous
notes = '''Python strings are very flexible, 
but if we try to create a string that occupies multiple lines we will get  a SyntaxError. 
Python offers a solution: multi-line strings.'''
print(notes)

Python strings are very flexible,
but if we try to create a string that occupies multiple lines we will get  a SyntaxError.
Python offers a solution: multi-line strings.

In [12]:
# using single quotes """
notes = """Python strings are very flexible, 
but if we try to create a string that occupies multiple lines we will get  a SyntaxError. 
Python offers a solution: multi-line strings."""
print(notes)

Python strings are very flexible,
but if we try to create a string that occupies multiple lines we will get  a SyntaxError.
Python offers a solution: multi-line strings.

# String Concatenation

In [16]:
string1 = 'Jupyter Notebooks are open-source'
string2 = 'designed for interactive data science in scientific computing.'

print(string1+', '+string2)

Jupyter Notebooks are open-source, designed for interactive data science in scientific computing.

In [15]:
#Print string for three times
3 * 'Jupyter Notebooks are open-source'

'Jupyter Notebooks are open-sourceJupyter Notebooks are open-sourceJupyter Notebooks are open-source'

# Plus Equals
### Python offers a shorthand for updating variables.

In [19]:
string1 = 'Jupyter Notebooks are open-source'
string2 = 'designed for interactive data science in scientific computing.'

string1+=string2  #added string2 to string1
print(string1)

Jupyter Notebooks are open-sourcedesigned for interactive data science in scientific computing.

# Escape Character

In [22]:
#using apostrophe cam incur syntax error as python treats quotes are missing for string
'I'm Fine'

SyntaxError: invalid syntax (<ipython-input-22-84d059b79482>, line 2)

In [23]:
#using escape character we can avoid syntax error for apostrophe
'I\'m Fine'

"I'm Fine"

# Indexing
### It is helpful to think of a string as an ordered sequence. 
### Each element in the sequence can be accessed using an index represented by the array of numbers

In [1]:
string ='JUPYTER NOTEBOOK'

The first index can be accessed as follows:

In [2]:
# Print the first element in the string 

print(string[0])

J

In [4]:
# Print the Seventh element in the string 

print(string[6])

R

# Negative Indexing

### Negative index can help us to count the element from the end of the string.

In [5]:
# Print the last element in the string

print(string[-1])

K

In [7]:
# Print the first element in the string

print(string[-16])

J

# Length Of The String

In [8]:
len(string)    #string ='JUPYTER NOTEBOOK'

16

# Slicing
### We can obtain multiple characters from a string using slicing, for example we can obtain the 0 to 4th and 8th to the 12th element

In [10]:
string[0:4]

'JUPY'

In [13]:
string[8:12]

'NOTE'

# Stride
### We can also input a stride value as follows, for example with the '2' indicating that we are selecting every second variable

In [19]:
# print every second element.

string ='JUPYTER NOTEBOOK'
print(string[::2])

JPTRNTBO

We can also incorporate slicing with the stride. In this case, we select the first five elements and then use the stride:

In [20]:
string[0:5:2]

'JPT'

# Find
### The method find finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence.

In [21]:
string = 'Jupyter Notebooks are open-source, designed for interactive data science in scientific computing.'
string.find('data')

60

### If the sub-string is not in the string then the output is a negative one. For example, the string 'Tableau' is not a substring:

In [23]:
string.find('Tableau')

-1