# Mathematical Operations

# Math Library

In [16]:
import math #Math is the library containing all the most common nummerical functions

# Addition

In [1]:
#Addition Operation

print(16+1)

17

# Subtraction

In [3]:
#Subtraction Operation

print (80-10)

70

# Multiplication

In [5]:
#Multiplication Operation

print(10*700)

7000

# Multiply Variables
### Multiplying the variable does not actually change the variable

In [37]:
add_numbers = 12 + 30
add_numbers * 5
print(cool_number)  #multiplying the variable by 5 does not actually change the vaarible

42

# Division

In [6]:
# Division operation expression

25 / 5     #the result has a decimal place. This is because Python converts all ints to floats before performing division.

5.0

# Division (Continued)
## We can use the double slash for integer division, where the result is rounded to the nearest integer

In [7]:
# Division operation expression

25//5

5

# Python follows well accepted mathematical conventions when evaluating mathematical expressions

In [10]:
30 + 2 * 60 #Python adds 30 to the result of the multiplication (i.e., 120).

150

In [13]:
(30+2) * 60 #expressions enclosed in parentheses have priority

1920

# Exponents
#### Python can also perform exponentiation. In written math, you might see an exponent as a superscript number, but typing superscript numbers isnâ€™t always easy on modern keyboards. Since this operation is so related to multiplication, we use the notation **.

In [19]:
 2 ** 2

4

In [20]:
10 ** 2

100

In [21]:
#We can even perform fractional exponents

4 ** 0.5

2.0

# Modulo

### Gives the remainder of a division calculation. If the number is divisible, then the result of the modulo operator will be 0.

In [27]:
100 % 20

0

In [28]:
100 % 30

10

# Reassign Values

In [43]:
#10 is assigned to varaible x
x = 10
x

10

In [44]:
# value of x is now changed to 20
x = 20
x

20

In [46]:
x + 40    #since the value of x changed from 10 to 20, when add 40 to x the output is 60

60

# Comparison Operators

In [47]:
10 == 10 #Double equality operator used for comparison

True

In [48]:
10 == 100

False

In [49]:
10 != 100

True

In [50]:
10 > 100

False

In [51]:
10 < 100

True

In [52]:
10 >= 5 + 5

True

In [54]:
10 <= 10 + 10

True

# Logical Operators

## NOT - AND - OR compare the statements and return Boolean values

# Logical Operator = Boolean Operators

In [10]:
#AND Operator

True and True

True

In [3]:
#AND Operator

True and False

False

In [11]:
#AND Operator

False and True

False

In [12]:
#AND Operator

False and False

False

In [5]:
#OR Operator

True or False #If we use OR the order of statements True or false doesn't matter, the ouput will be True

True

In [14]:
#OR Operator

False or True #If we use OR the order of statements True or false doesn't matter, the ouput will be True

True

In [13]:
#OR Operator

False or False

False

In [8]:
#Not Operator, Leads to the opposite of the given statement

not True

False

In [9]:
#Not Operator

not False

True

In [17]:
3>5 and 10 < 100  #False and True will result in False

False

# Logical Operators Order

#### Following is the order for logical operators if we combine these operators while using, Not comes First and so on
1. Not
2. And
3. OR

In [18]:
True and not True #First not True will be applied, which results in True and False and the final result of True and False

False

In [19]:
False or not True and True

False

In [20]:
True and not True or True

True

# Identity Operators

# is, is not

## Identity Operators are similar to Comparison Operators (==, !=)

In [22]:
 5 is 6   #This is similar to 5 == 6

False

In [24]:
5 == 6   #This is similar to 5 is 6

False

In [26]:
5 is not 6 #This is similar to 5 != 6

True

In [27]:
5 != 6   #This is similar to 5 is not 6

True