# Python is an object-oriented language.

### There are many different types of objects in Python. 
#### 1.The most common object types: Integers, floats & strings
#### 2.The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).
#### 3.Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False, Boolean variables are increasingly significant when writing codes with conditional statements.

In [1]:
# Integers
10

10

In [2]:
# Float
17.1

17.1

In [18]:
# Boolean

True

True

# type()
## Built-in Function
#### You can get Python to tell you the type of an expression by using the built-in type() function

In [6]:
#type for 10

type(10)

int

In [7]:
#type for 17.1

type(17.1)

float

In [19]:
# type for True
type(True)

bool

# Converting from one object type to a different object type

In [10]:
# Verify the type of number

type(10)

int

In [11]:
# Convert 10 to a float

float(10)

10.0

In [13]:
type(float(10))

float

### When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):

In [14]:
int(1.1)

1

In [16]:
int(float('1.1'))

1

### We can cast boolean objects to other data types, remember T and F should be captalised for True or False
##### If we cast a boolean with a value of True to an integer or float we will get a one.
##### If we cast a boolean with a value of False to an integer or float we will get a zero.
##### Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0 to a Boolean we will get a False.

In [21]:
bool(1)

True

In [22]:
int(True)

1

In [1]:
float(True)

1.0

# Membership Type

In [2]:
numbers = (1 in [1,2,3])
numbers

True

In [12]:
programming_languages = ['C','Python','C++', 'Java','Ruby','Javascript','PHP','Visual Basic','CSS','R']

popular_language = 'Python' in programming_languages   

popular_language #output is True since Python is present in the programming_languages list

True

In [13]:
popular_language ='Tableau' in programming_languages 
popular_language #output is False since Python is present in the programming_languages list

False

# Using Set

In [14]:
programming_languages = ['C','Python','C++', 'Java','Ruby','Javascript','PHP','Visual Basic','CSS','R']
programming_languages_set = set (programming_languages)
programming_languages_set

{'C',
 'C++',
 'CSS',
 'Java',
 'Javascript',
 'PHP',
 'Python',
 'R',
 'Ruby',
 'Visual Basic'}

# Double Equality Sign

In [21]:
x = 2 * 5
print(x)

10

In [22]:
x == 10

True

In [23]:
x == 11

False